<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.firstzone.test">
	<select id="selectAll" resultType="testvo">
		select * from test
	</select>
	
	<select id="selectUserById" resultType="uservo" parameterType="int">
		select * from user
		where user_id = #{aa}
	</select>
	
	<select id="selectOwnerById" resultType="ownervo" parameterType="int">
		select * from owner
		where owner_id = #{aa}
	</select>
	
	<update id="updateOwnerPathById" parameterType="map">
		update owner
		set owner_path = #{owner_path}
		where owner_id = #{owner_id} 
	</update>
</mapper>
